<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>balexand</string>
	<key>ordering</key>
	<array>
		<string>883E54C4-4E3D-4567-81FF-409CB733EBAD</string>
		<string>6E0AF71F-3BB8-4001-884C-8D8C319949B9</string>
		<string>98A96F13-E4D1-4F58-989E-80B0F58A9A34</string>
		<string>167485D7-6703-4321-9271-8C8A5BF1E42E</string>
	</array>
	<key>uuid</key>
	<string>759EFF82-EFA0-4DA8-9B3B-39E58FF16FBF</string>
</dict>
</plist>
